.container{
  display: flex;
  flex-direction: column;
  padding: 0;
}

mat-form-field{
  width: 450px;
}

.doneBtn{
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #ffff;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}
